:root {
  --black: #333;
  --light-gray: #f1f1f1;
}

.app {
  min-width: 390px;
  min-height: 600px;
}

.links {
  margin: 20px 20px 0 0;
  font-size: 0.4rem;
  width: 145px;
  position: absolute;
  top: 0;
  right: 0;
}

.title-card {
  margin: 0 20px 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 200px;
  max-width: 250px;
}

.town {
  cursor: pointer;
  stroke: var(--black);
  stroke-linejoin: round;
}

.town:active {
  opacity: 0.7;
}

.tile {
  width: 30px;
  height: 20px;
  border: 1px solid var(--black);
}

.color-input {
  height: 38px;
}

.details-popover .popover {
  overflow: hidden;
}

.level-choice {
  border: none;
  border-radius: 0;
  background-color: #fff;
  color: var(--black);
}

.level-choice:active {
  background-color: var(--light-gray);
}

@media (hover: hover) {
  .town:hover {
    opacity: 0.7;
  }

  .level-choice:hover {
    background-color: var(--light-gray);
  }
}

@media (min-width: 576px) {
  .links {
    width: 250px;
    font-size: 0.7rem;
  }

  .main-link {
    font-weight: bold;
  }

  .title-card {
    max-width: 400px;
  }

  .tile {
    width: 40px;
  }
}

@media (min-width: 768px) {
  .links,
  .title-card {
    position: static;
  }
}
