.lived {
  --level-color: #dd1a21;
}

.stayed {
  --level-color: #f57d20;
}

.visited {
  --level-color: #ffcd03;
}

.alighted {
  --level-color: #00af4d;
}

.passed {
  --level-color: #006cb7;
}

.app {
  min-width: 390px;
  min-height: 600px;
}

.links {
  margin: 20px 20px 0 0;
  font-size: 0.4rem;
  width: 145px;
  position: absolute;
  top: 0;
  right: 0;
}

.title-card {
  margin: 0 20px 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.town {
  cursor: pointer;
  fill: var(--level-color, #fff);
  stroke: #333;
  stroke-linejoin: round;
}

.town:active {
  opacity: 0.7;
}

@media (hover: hover) {
  .town:hover {
    opacity: 0.7;
  }
}

.tile {
  width: 30px;
  height: 20px;
  background-color: var(--level-color, #fff);
  border: 1px solid var(--level-color, #000);
}

.details-popover .popover {
  overflow: hidden;
}

.level-choice {
  border: none !important;
  --bs-list-group-action-hover-bg: var(--level-color, #fafafa);
  --bs-list-group-action-hover-color: var(--bs-list-group-color);
  --bs-list-group-action-active-bg: var(--level-color, #f4f4f4);
  --bs-list-group-action-active-color: var(--bs-list-group-color);
  --bs-list-group-active-bg: var(--level-color, #f4f4f4);
  --bs-list-group-active-color: var(--bs-list-group-color);
}

@media (min-width: 576px) {
  .links {
    width: 250px;
    font-size: 0.7rem;
  }

  .main-link {
    font-weight: bold;
  }

  .tile {
    width: 40px;
  }
}

@media (min-width: 768px) {
  .links,
  .title-card {
    position: static;
  }
}
